<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Editar Cliente y Acción</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/logo.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <div class="container">
        <h1>Editar Cliente y Acción Comercial</h1>
        <form action="/admin/clientes_accion/edit/{{ cliente_accion.CODCLIENTE }}/{{ cliente_accion.CODAccionComercial }}" method="POST" class="client-form" onsubmit="return confirmUpdate();">
            <input type="text" name="codcliente" value="{{ cliente_accion.CODCLIENTE }}" required readonly>

            <label for="codaccion">Seleccione Acción Comercial:</label>
            <select name="codaccion" required>
                {% for accion in acciones_comerciales %}
                    <option value="{{ accion.CODAccionComercial }}" {% if accion.CODAccionComercial == cliente_accion.CODAccionComercial %}selected{% endif %}>
                        {{ accion.Descripcion }}
                    </option>
                {% endfor %}
            </select>
        
            <button type="submit" class="btn">Actualizar</button>
            <button type="button" onclick="location.href='/admin/clientes_accion'" class="btn btn-green">Atras</button>
        </form>
    </div>

    <script>
        function confirmUpdate() {
            return confirm("¿Estás seguro de que deseas actualizar este cliente y su acción comercial?");
        }
    </script>
</body>
</html>
