<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <div class="container">
        <h1>Bienvenido a la Aplicación</h1>
        <button onclick="location.href='/intro_envase'" class="btn btn-green">Introducción de Envase</button>
        <button onclick="location.href='/promorack'" class="btn btn-green">Validación de Promorack</button>
    </div>
</body>
</html>
