<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Promorack y Cambios</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/promorack_cambios.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo.png') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.0/xlsx.full.min.js"></script>
    <script type="module" src="{{ url_for('static', filename='js/utils.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/promorack.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/cambios.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/main_promorack.js') }}"></script>
</head>
<body>
    <div class="tabs">
        <button id="tabPromorack" class="active">Validación de Promorack</button>
        <button id="tabCambios">Cambios</button>
        <button onclick="location.href='/'" class="inicio">Volver al Inicio</button>
    </div>

    <div id="containerPromorack" class="container active">
        <h1>Validación de Promorack</h1>
        <label for="Centro">Centro (Nomenclatura):</label>
        <select id="Centro">
            <option value="">Selecciona un centro</option>
        </select>
        <br>
        <label for="jefeZona">Jefe de Zona:</label>
        <select id="jefeZona" disabled>
            <option value="">Selecciona un jefe de zona</option>
        </select>
        <br>
        <label for="cliente">Códigos de Cliente:</label>
        <select id="cliente" disabled>
            <option value="">Selecciona un cliente</option>
        </select>
        <br>
        <label for="CODTerritorio">Ruta:</label>
        <input type="text" id="CODTerritorio" readonly>
        <br>
        <label for="NombreComercial">Nombre de Cliente:</label>
        <input type="text" id="NombreComercial" readonly>
        <br>
        <label for="NombreClienteLegal">Nombre de Negocio:</label>
        <input type="text" id="NombreClienteLegal" readonly>
        <br>
        <label for="Cluster">Tipo de Cluster:</label>
        <input type="text" id="Cluster" readonly>
        <br>
        <label for="DireccionNegocio">Dirección:</label>
        <input type="text" id="DireccionNegocio" readonly>
        <br>
        <button id="verificar" disabled>Verificar</button>
        <p id="resultado"></p>
        <p id="mensaje" class="detalle"></p> 
        <button id="agregar" disabled>Agregar</button>
        <button id="descargarExcel" class="download-button" disabled>Descargar Excel</button>
        <button id="vaciarTablaPromorack" class="clear-button">Vaciar Tabla</button>
        <p id="mensajeRepetido" style="color: red; display: none;">Código de cliente ya agregado.</p>
    </div>

    <div id="containerCambios" class="container">
        <h1>Cambios</h1>
        <label for="centroCambios">Centro (Nomenclatura):</label>
        <select id="centroCambios">
            <option value="">Selecciona un centro</option>
        </select>
        <br>
        <label for="jefeZonaCambios">Jefe de Zona:</label>
        <select id="jefeZonaCambios" disabled>
            <option value="">Selecciona un jefe de zona</option>
        </select>
        <br>
        <label for="clienteCambios">Códigos de Cliente:</label>
        <select id="clienteCambios" disabled>
            <option value="">Selecciona un cliente</option>
        </select>
        <br>
        <label for="rutaCambios">Ruta:</label>
        <input type="text" id="rutaCambios" readonly>
        <br>
        <button id="verificarCambios" class="btn-activar" style="display: none;" disabled>Verificar</button>
        <button id="agregarCambios" class="btn-desactivar" disabled>Desactivar</button>
        <p id="resultadoCambios"></p>
        <p id="mensajeCambios" class="detalle"></p>
        <button id="descargarExcelCambios" class="download-button" disabled>Descargar Excel</button>
        <button id="vaciarTablaCambios" class="clear-button">Vaciar Tabla</button>
    </div>

    <div class="list-container">
        <h2 id="tituloClientesAgregados">Clientes Agregados<span id="contadorPromorack">: 0</span></h2>
        <table id="clientesAgregados">
            <thead>
                <tr>
                    <th>Centro</th>
                    <th>Jefe de Zona</th>
                    <th>Ruta</th>
                    <th>Código de Cliente</th>
                    <th>Nombre de Cliente</th>
                    <th>Nombre de Negocio</th>
                    <th>Acción</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <!-- Aquí se agregarán los clientes -->
            </tbody>
        </table>
    </div>


    
</body>
</html>
